schema/toolpath_2026_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
targetNamespace="http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:annotation>
		<xs:documentation><![CDATA[   Schema notes:

  This schema covers both parts of the Toolpath extension:
   - Part I (3MF Documents): the <toolpathresource> structure embedded in the 3D model document.
   - Part II (Layer Data): the <layer> ASCII XML structure stored in separate OPC parts.

  Both parts share the same namespace
  (http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03) and therefore
  live in a single schema. In the model document the resource elements are used
  with a prefix (e.g. tp:toolpathresource); in a layer part the elements are
  used unprefixed with this namespace declared as the default.

  Naming convention:
  Unprefixed: Element names
  CT_: Complex types
  ST_: Simple types
  AG_: Attribute groups

  ]]></xs:documentation>
	</xs:annotation>

	<!-- ===================== Simple Types ===================== -->
	<xs:simpleType name="ST_UriReference">
		<xs:restriction base="xs:anyURI">
			<xs:pattern value="/.*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_UUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ResourceID">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_String">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Number">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="ST_PositiveNumber">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Integer">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="ST_PositiveInteger">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NonNegativeInteger">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ModifierScale">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Parametric position of a <sub> support point along its parent element.
	     Strictly interior: an endpoint (0 or 1) is carried by the parent element
	     itself, not by a <sub>. -->
	<xs:simpleType name="ST_SubParameter">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0.0"/>
			<xs:maxExclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ToolpathType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="planar"/>
			<xs:enumeration value="3axis"/>
			<xs:enumeration value="6axis"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ModifierType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="constant"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="nonlinear"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ModifierFactor">
		<xs:restriction base="xs:string">
			<xs:enumeration value="e"/>
			<xs:enumeration value="f"/>
			<xs:enumeration value="g"/>
			<xs:enumeration value="h"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SegmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="loop"/>
			<xs:enumeration value="polyline"/>
			<xs:enumeration value="hatch"/>
			<xs:enumeration value="polyline3d"/>
			<xs:enumeration value="polyline6d"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_LaserIndexList">
		<xs:restriction base="xs:string">
			<xs:pattern value="(0|[1-9][0-9]*)( (0|[1-9][0-9]*))*"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ===================== Attribute Groups ===================== -->
	<!-- Per-point/per-hatch scale factors. The unindexed factors (e,f,g,h) apply
	     to "constant" modifiers; the indexed pairs (x1/x2) apply to "linear"
	     modifiers, giving the value at the start and end of the line. -->
	<xs:attributeGroup name="AG_ModifierFactors">
		<xs:attribute name="e" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="e1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="e2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h2" type="ST_ModifierScale" use="optional"/>
	</xs:attributeGroup>

	<!-- ===================== Part I: Toolpath Resource (model document) ===================== -->
	<xs:element name="toolpathresource" type="CT_Toolpath"/>
	<xs:complexType name="CT_Toolpath">
		<xs:sequence>
			<xs:element ref="lasersources" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="toolpathprofiles" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="toolpathlayers" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="toolpathdata" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="id" type="ST_ResourceID" use="required"/>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
		<xs:attribute name="unitfactor" type="ST_Number" use="required"/>
		<xs:attribute name="toolpathtype" type="ST_ToolpathType" use="optional" default="planar"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="toolpathprofiles" type="CT_ToolpathProfiles"/>
	<xs:complexType name="CT_ToolpathProfiles">
		<xs:sequence>
			<xs:element ref="toolpathprofile" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="toolpathprofile" type="CT_ToolpathProfile"/>
	<xs:complexType name="CT_ToolpathProfile">
		<xs:sequence>
			<xs:element ref="modifier" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
		<xs:attribute name="name" type="ST_String" use="required"/>
		<xs:attribute name="laserpower" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="laserspeed" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="jumpspeed" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="laserfocus" type="ST_Number" use="optional"/>
		<xs:attribute name="spotradius" type="ST_PositiveNumber" use="optional"/>
		<!-- laserindex uses the non-negative laser-index space (0 is a valid laser id). -->
		<xs:attribute name="laserindex" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="depositionspeed" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="beadwidth" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="beadheight" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="prewaittime" type="ST_PositiveNumber" use="optional"/>
		<xs:attribute name="postwaittime" type="ST_PositiveNumber" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="modifier" type="CT_ToolpathProfileModifier"/>
	<xs:complexType name="CT_ToolpathProfileModifier">
		<xs:attribute name="attribute" type="ST_String" use="required"/>
		<xs:attribute name="type" type="ST_ModifierType" use="required"/>
		<xs:attribute name="minvalue" type="ST_Number" use="required"/>
		<xs:attribute name="maxvalue" type="ST_Number" use="required"/>
		<xs:attribute name="factor" type="ST_ModifierFactor" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="toolpathlayers" type="CT_ToolpathLayers"/>
	<xs:complexType name="CT_ToolpathLayers">
		<xs:sequence>
			<xs:element ref="toolpathlayer" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="zbottom" type="ST_NonNegativeInteger" use="optional" default="0"/>
	</xs:complexType>

	<xs:element name="toolpathlayer" type="CT_ToolpathLayer"/>
	<xs:complexType name="CT_ToolpathLayer">
		<xs:attribute name="ztop" type="ST_PositiveInteger" use="optional"/>
		<xs:attribute name="path" type="ST_UriReference" use="required"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<!-- Custom, vendor-defined data container. Content is foreign markup. -->
	<xs:element name="toolpathdata" type="CT_ToolpathData"/>
	<xs:complexType name="CT_ToolpathData">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="lasersources" type="CT_LaserSources"/>
	<xs:complexType name="CT_LaserSources">
		<xs:sequence>
			<xs:element ref="lasersource" minOccurs="1" maxOccurs="2147483647"/>
			<xs:element ref="syncgroup" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="default" type="ST_NonNegativeInteger" use="optional"/>
	</xs:complexType>

	<xs:element name="lasersource" type="CT_LaserSource"/>
	<xs:complexType name="CT_LaserSource">
		<xs:attribute name="index" type="ST_NonNegativeInteger" use="required"/>
		<xs:attribute name="name" type="ST_String" use="required"/>
		<!-- Scan-field bounds are an optional all-or-nothing group: a producer
		     either omits all of minx/maxx/miny/maxy or provides all four
		     (enforced by prose; XSD 1.0 cannot express co-occurrence).
		     The same applies to the centerx/centery pair. -->
		<xs:attribute name="minx" type="ST_Integer" use="optional"/>
		<xs:attribute name="maxx" type="ST_Integer" use="optional"/>
		<xs:attribute name="miny" type="ST_Integer" use="optional"/>
		<xs:attribute name="maxy" type="ST_Integer" use="optional"/>
		<xs:attribute name="centerx" type="ST_Integer" use="optional"/>
		<xs:attribute name="centery" type="ST_Integer" use="optional"/>
		<!-- cornerradius rounds the field corners; only valid with the full bounds
		     group and MUST be <= min(maxx-minx, maxy-miny)/2 (enforced by prose,
		     XSD 1.0 cannot express the co-occurrence and value constraint). -->
		<xs:attribute name="cornerradius" type="ST_PositiveInteger" use="optional"/>
	</xs:complexType>

	<xs:element name="syncgroup" type="CT_SyncGroup"/>
	<xs:complexType name="CT_SyncGroup">
		<xs:attribute name="id" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="lasers" type="ST_LaserIndexList" use="required"/>
	</xs:complexType>

	<!-- Global attribute added to the core <build> element: selects the
	     toolpath resource (by id) to use for fabricating this build. -->
	<xs:attribute name="toolpathid" type="ST_ResourceID"/>

	<!-- ===================== Part II: Layer ASCII XML (OPC layer parts) ===================== -->
	<xs:element name="layer" type="CT_Layer"/>
	<xs:complexType name="CT_Layer">
		<xs:sequence>
			<xs:element ref="parts" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="profiles" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="data" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="segments" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="parts" type="CT_Parts"/>
	<xs:complexType name="CT_Parts">
		<xs:sequence>
			<xs:element ref="part" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="part" type="CT_Part"/>
	<xs:complexType name="CT_Part">
		<xs:attribute name="id" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
	</xs:complexType>

	<xs:element name="profiles" type="CT_Profiles"/>
	<xs:complexType name="CT_Profiles">
		<xs:sequence>
			<xs:element ref="profile" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="profile" type="CT_Profile"/>
	<xs:complexType name="CT_Profile">
		<xs:attribute name="id" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
	</xs:complexType>

	<!-- Custom, vendor-defined per-layer data container. Content is foreign markup. -->
	<xs:element name="data" type="CT_LayerData"/>
	<xs:complexType name="CT_LayerData">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="segments" type="CT_Segments"/>
	<xs:complexType name="CT_Segments">
		<xs:sequence>
			<xs:element ref="segment" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="segment" type="CT_Segment"/>
	<xs:complexType name="CT_Segment">
		<!-- A segment carries the geometry appropriate to the toolpathtype:
		     <point> for planar, <point3d>/<point6d> for 3axis/6axis polylines and
		     loops, and <hatch> for hatch segments. A Binary Encoding extension MAY
		     supply the geometry through foreign-namespaced elements instead. -->
		<xs:choice minOccurs="0" maxOccurs="2147483647">
			<xs:element ref="point"/>
			<xs:element ref="point3d"/>
			<xs:element ref="point6d"/>
			<xs:element ref="hatch"/>
			<xs:any namespace="##other" processContents="lax"/>
		</xs:choice>
		<xs:attribute name="type" type="ST_SegmentType" use="required"/>
		<xs:attribute name="profileid" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="partid" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="laserindex" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="lasersync" type="ST_PositiveInteger" use="optional"/>
		<xs:attribute name="timeprediction" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="jumpprediction" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<!-- Nonlinear modifier sample: value of the named factor at parameter t. -->
	<xs:element name="sub" type="CT_Sub"/>
	<xs:complexType name="CT_Sub">
		<xs:attribute name="t" type="ST_SubParameter" use="required"/>
		<xs:attribute name="e" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h" type="ST_ModifierScale" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point" type="CT_Point"/>
	<xs:complexType name="CT_Point">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point3d" type="CT_Point3D"/>
	<xs:complexType name="CT_Point3D">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="z" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point6d" type="CT_Point6D"/>
	<xs:complexType name="CT_Point6D">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="z" type="ST_Integer" use="required"/>
		<xs:attribute name="i" type="ST_Number" use="required"/>
		<xs:attribute name="j" type="ST_Number" use="required"/>
		<xs:attribute name="k" type="ST_Number" use="required"/>
		<xs:attribute name="w" type="ST_Number" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="hatch" type="CT_Hatch"/>
	<xs:complexType name="CT_Hatch">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="2147483647"/>
		</xs:sequence>
		<xs:attribute name="x1" type="ST_Integer" use="required"/>
		<xs:attribute name="y1" type="ST_Integer" use="required"/>
		<xs:attribute name="x2" type="ST_Integer" use="required"/>
		<xs:attribute name="y2" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
