schema/toolpath_layer_2026_03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xml="http://www.w3.org/XML/1998/namespace"
targetNamespace="http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:annotation>
		<xs:documentation><![CDATA[   Schema notes:

  This schema covers ONLY Part II (Layer Data) of the Toolpath extension:
  the <layer> ASCII XML structure that is stored in a separate OPC part
  (for example /Toolpath/Layers/layer00001.xml) and referenced from a
  <toolpathlayer> in the model document.

  It is a self-contained companion to toolpath_2026_03.xsd (which covers
  both Part I and Part II) and is intended for validating a single layer
  part on its own, without the surrounding model document. The root
  element is <layer>. In a layer part the elements are used unprefixed
  with this namespace declared as the default.

  The shared namespace (http://schemas.3mf.io/3dmanufacturing/toolpath/2026/03)
  is deliberately identical to the combined schema; the two schema
  documents MUST NOT be imported into the same schema set, because they
  redefine overlapping global components. Use this schema to validate
  layer parts, and toolpath_2026_03.xsd to validate the model document.

  Naming convention:
  Unprefixed: Element names
  CT_: Complex types
  ST_: Simple types
  AG_: Attribute groups

  ]]></xs:documentation>
	</xs:annotation>

	<!-- ===================== Simple Types ===================== -->
	<xs:simpleType name="ST_UUID">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_Number">
		<xs:restriction base="xs:double"/>
	</xs:simpleType>
	<xs:simpleType name="ST_Integer">
		<xs:restriction base="xs:int"/>
	</xs:simpleType>
	<xs:simpleType name="ST_PositiveInteger">
		<xs:restriction base="xs:positiveInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_NonNegativeInteger">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxExclusive value="2147483648"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_ModifierScale">
		<xs:restriction base="xs:double">
			<xs:minInclusive value="0.0"/>
			<xs:maxInclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- Parametric position of a <sub> support point along its parent element.
	     Strictly interior: an endpoint (0 or 1) is carried by the parent element
	     itself, not by a <sub>. -->
	<xs:simpleType name="ST_SubParameter">
		<xs:restriction base="xs:double">
			<xs:minExclusive value="0.0"/>
			<xs:maxExclusive value="1.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_SegmentType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="loop"/>
			<xs:enumeration value="polyline"/>
			<xs:enumeration value="hatch"/>
			<xs:enumeration value="polyline3d"/>
			<xs:enumeration value="polyline6d"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- ===================== Attribute Groups ===================== -->
	<!-- Per-point/per-hatch scale factors. The unindexed factors (e,f,g,h) apply
	     to "constant" modifiers; the indexed pairs (x1/x2) apply to "linear"
	     modifiers, giving the value at the start and end of the line. -->
	<xs:attributeGroup name="AG_ModifierFactors">
		<xs:attribute name="e" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="e1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="e2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g2" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h1" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h2" type="ST_ModifierScale" use="optional"/>
	</xs:attributeGroup>

	<!-- ===================== Layer ASCII XML (OPC layer part) ===================== -->
	<xs:element name="layer" type="CT_Layer"/>
	<xs:complexType name="CT_Layer">
		<xs:sequence>
			<xs:element ref="parts" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="profiles" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="data" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="segments" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="parts" type="CT_Parts"/>
	<xs:complexType name="CT_Parts">
		<xs:sequence>
			<xs:element ref="part" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="part" type="CT_Part"/>
	<xs:complexType name="CT_Part">
		<xs:attribute name="id" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
	</xs:complexType>

	<xs:element name="profiles" type="CT_Profiles"/>
	<xs:complexType name="CT_Profiles">
		<xs:sequence>
			<xs:element ref="profile" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="profile" type="CT_Profile"/>
	<xs:complexType name="CT_Profile">
		<xs:attribute name="id" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="uuid" type="ST_UUID" use="required"/>
	</xs:complexType>

	<!-- Custom, vendor-defined per-layer data container. Content is foreign markup. -->
	<xs:element name="data" type="CT_LayerData"/>
	<xs:complexType name="CT_LayerData">
		<xs:sequence>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="segments" type="CT_Segments"/>
	<xs:complexType name="CT_Segments">
		<xs:sequence>
			<xs:element ref="segment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="segment" type="CT_Segment"/>
	<xs:complexType name="CT_Segment">
		<!-- A segment carries the geometry appropriate to the toolpathtype:
		     <point> for planar, <point3d>/<point6d> for 3axis/6axis polylines and
		     loops, and <hatch> for hatch segments. A Binary Encoding extension MAY
		     supply the geometry through foreign-namespaced elements instead. -->
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="point"/>
			<xs:element ref="point3d"/>
			<xs:element ref="point6d"/>
			<xs:element ref="hatch"/>
			<xs:any namespace="##other" processContents="lax"/>
		</xs:choice>
		<xs:attribute name="type" type="ST_SegmentType" use="required"/>
		<xs:attribute name="profileid" type="ST_PositiveInteger" use="required"/>
		<xs:attribute name="partid" type="ST_PositiveInteger" use="optional"/>
		<xs:attribute name="laserindex" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="lasersync" type="ST_PositiveInteger" use="optional"/>
		<xs:attribute name="timeprediction" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="jumpprediction" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<!-- Nonlinear modifier sample: value of the named factor at parameter t. -->
	<xs:element name="sub" type="CT_Sub"/>
	<xs:complexType name="CT_Sub">
		<xs:attribute name="t" type="ST_SubParameter" use="required"/>
		<xs:attribute name="e" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="f" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="g" type="ST_ModifierScale" use="optional"/>
		<xs:attribute name="h" type="ST_ModifierScale" use="optional"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point" type="CT_Point"/>
	<xs:complexType name="CT_Point">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point3d" type="CT_Point3D"/>
	<xs:complexType name="CT_Point3D">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="z" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="point6d" type="CT_Point6D"/>
	<xs:complexType name="CT_Point6D">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="x" type="ST_Integer" use="required"/>
		<xs:attribute name="y" type="ST_Integer" use="required"/>
		<xs:attribute name="z" type="ST_Integer" use="required"/>
		<xs:attribute name="i" type="ST_Number" use="required"/>
		<xs:attribute name="j" type="ST_Number" use="required"/>
		<xs:attribute name="k" type="ST_Number" use="required"/>
		<xs:attribute name="w" type="ST_Number" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="hatch" type="CT_Hatch"/>
	<xs:complexType name="CT_Hatch">
		<xs:sequence>
			<xs:element ref="sub" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="x1" type="ST_Integer" use="required"/>
		<xs:attribute name="y1" type="ST_Integer" use="required"/>
		<xs:attribute name="x2" type="ST_Integer" use="required"/>
		<xs:attribute name="y2" type="ST_Integer" use="required"/>
		<xs:attribute name="tag" type="ST_NonNegativeInteger" use="optional"/>
		<xs:attributeGroup ref="AG_ModifierFactors"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
</xs:schema>
